@{
    ViewBag.Title = "Add Employee To Your Project";
}
<div class="jumbotron">
    <h1>Add Employee To Your Project</h1>
</div>
<div class="justify-content-center row">
    <div class="col-sm-6">
        <form novalidate="novalidate" action="/account/AddEmployeeProject" method="post" class="needs-validation">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label for="txtEmployee">Employee ID</label>
                    <input type="text" class="form-control" id="txtEmployee" placeholder="Enter Employee ID" name="EmployeeID" required="required" autofocus="autofocus" />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter .
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label for="txtProject">Project ID</label>
                    <input type="text" class="form-control" id="txtProject" placeholder="Enter Project ID" name="ProjectManager" required="required" />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter .
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>

<script>

    $("a[href='/account/AddEmployeeProject']").attr("id", "active");

    $(document).on("submit", ".needs-validation", validate);
    $(".needs-validation input").blur(validate);
    function validate(event)
    {
        if ($(".needs-validation")[0].checkValidity() == false || $(".email-exist").text() != "")
        {
            event.preventDefault();
        }
        $(".needs-validation")[0].classList.add("was-validated");
    }


</script>