@{
    ViewBag.Title = "Add Project";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Add Project</h1>
        </div>
        
        <form novalidate="novalidate" action="/project/AddProject" method="post" class="needs-validation" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label for="txtName">Project Name</label>
                    <input type="text" class="form-control" id="txtName" placeholder="Enter Project Name" name="ProjectName" required="required" autofocus="autofocus" />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter .
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label for="txtManager">Project Manager</label>
                    <input type="text" class="form-control" id="txtManager" placeholder="Enter Project Manager" name="ProjectManager" required="required" />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter.
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>

<script>

    $("a[href='/project/addproject']").attr("id", "active");

    $(document).on("submit", ".needs-validation", validate);
    $(".needs-validation input").blur(validate);
    function validate(event)
    {
        if ($(".needs-validation")[0].checkValidity() == false || $(".email-exist").text() != "")
        {
            event.preventDefault();
        }
        $(".needs-validation")[0].classList.add("was-validated");
    }


</script>